@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

input {
  @apply w-full rounded-md text-black h-12 px-3 border bg-white border-gray focus:border-auburn focus:ring-2 focus:ring-auburn outline-none;
}